<div class="container" style="width: 300px;">
  <div class="row">
    <div class="col-xs-1">
      {{ index + 1 }}
    </div>
    <div class="col-xs-3">
      {{ product.name }}
    </div>
    <div class="col-xs-4">
      ${{ product.price }}
    </div>
    <div class="col-xs-2">
      <button class="btn btn-danger btn-xs" (click)="onRemove()">Remove</button>
    </div>
    <br>
    <div class="col-lg-9">
      Product quantity:
      <button type="button" class="btn btn-danger btn-number"  data-type="minus" (click)="onDecreaseQuantity(this.product.id)">
        <span class="glyphicon glyphicon-minus"></span>
      </button>
        {{ product.quantity }}
      <button type="button" class="btn btn-success btn-number" data-type="plus" (click)="onIncreaseQuantity(this.product.id)">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
    </div>
  </div>
</div>
